<a href="https://colab.research.google.com/github/Minjaero/python/blob/main/%EA%B9%80%EB%AF%BC%EC%9E%AC_205_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in[1,3,5] :
  print(i)

1
3
5

In [ ]:
for i in range(10) : #range(시작값(0). 끝값, 증가값(+1)) -> for(초기값: 조건: 증감식)
  print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(1,11) : #range(시작값(0). 끝값, 증가값(+1)) -> for(초기값: 조건: 증감식)
  print(i, end = ' ')

1 2 3 4 5 6 7 8 9 10

In [ ]:
for i in range(1,10,2) : #range(시작값(0). 끝값, 증가값(+1)) -> for(초기값: 조건: 증감식)
  print(i, end = ' ')

1 3 5 7 9

In [ ]:
for i in range(20,0, -2) : #range(시작값(0). 끝값, 증가값(+1)) -> for(초기값: 조건: 증감식)
  print(i, end = ' ')

20 18 16 14 12 10 8 6 4 2

In [ ]:
for i in range(3): #3또는 (1,4,1) , (0,1,2)
  print('안녕하세요')

안녕하세요
안녕하세요
안녕하세요

In [ ]:
a = 10
for num in range(1,5,2): #num =1.  3.  
 a  += num                 #a = 11. 14
print(a)

14

In [ ]:
for i in range(1,4,1):
  print(i, '번째 학생의 성적처리')

1 번째 학생의 성적처리
2 번째 학생의 성적처리
3 번째 학생의 성적처리

In [ ]:
for i in range(2,22,2):
    print(i, end = ' ')

2 4 6 8 10 12 14 16 18 20

In [ ]:
for i in range(2,20,2):
  print("2 *",i, "=", 2*i)

2 * 2 = 4
2 * 4 = 8
2 * 6 = 12
2 * 8 = 16
2 * 10 = 20
2 * 12 = 24
2 * 14 = 28
2 * 16 = 32
2 * 18 = 36

In [ ]:
for i in range(1,11,1):
  print("i의 값:", i, "=> 합계:" ,)

i의 값: 1 => 합계:
i의 값: 2 => 합계:
i의 값: 3 => 합계:
i의 값: 4 => 합계:
i의 값: 5 => 합계:
i의 값: 6 => 합계:
i의 값: 7 => 합계:
i의 값: 8 => 합계:
i의 값: 9 => 합계:
i의 값: 10 => 합계:

In [121]:
a = 0
for i in range(2,101,2): 
  a += i
print('sum = ', a,end = ' ')

sum =  2550

In [119]:
a = 1
for i in range(1, 11, 1):
  a = a*i
print("10! = ", a, end = ' ')

10! =  3628800

In [135]:
count = 0 
for i in range(5,105,5):
    print(i, end = ' ')
    count += 1
    if i % 7 == 0:
      print()

5 10 15 20 25 30 35
40 45 50 55 60 65 70
75 80 85 90 95 100

In [137]:
n = int(input('정수를 입력하세요:'))
for i in range(1, n+1):
  if n % i == 0: # i가 n의 약수인 경우
    print(i , end= ' ')

정수를 입력하세요:6
1 2 3 6

In [148]:
a = 0
b = 1
for i in range(20):
    print(a, end = ' ')
    tmp = a+b
    a = b 
    b = tmp

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

In [139]:
line = '-' * 40  # '_' 문자를 40번 반복하여 문자열 생성
for i in range(len(line)):
    if i % 10 == 0 and i != 0:
        print('+', end='')  # 매 10칸마다 '+' 문자 출력
    else:
        print(line[i], end='')  # 나머지 칸에는 '_' 문자 출력

----------+---------+---------+---------

In [146]:
i = 1
while i < 41:
    if i %  10 ==0:
      print('+' , end = '')
    else:
      print('-' , end = '')
    i += 1

---------+---------+---------+---------+

In [143]:
for i in range(1, 41, 1):
  if i % 5 == 0 and i % 22 != 0:
    print('+' , end = '')
  else:
    print('-' , end='')

----+----+----+----+----+----+----+----+

In [149]:
for i in range(1, 1001):
  print(i, end = ' ')
  if i == 10:
    break

1 2 3 4 5 6 7 8 9 10

In [157]:
score = [92, 86,68,120,56,72]
for s in score:
  if s < 0 or s > 100:
    break
  print(s)
print('성적 처리')

92
86
68
성적 처리

In [158]:
score = [92, 86,68,120,56,72]
for s in score:
  if s < 0 or s > 100:
    continue
  print(s)
print('성적 처리')

92
86
68
56
72
성적 처리

In [160]:
print('3+4')
while True :
  n = int(input('정답 입력:'))
  if n ==  7:
    break
print('참 잘했어요. 이제 꺼지세요.')

3+4
정답 입력:7
참 잘했어요. 이제 꺼지세요.