<a href="https://colab.research.google.com/github/Minjaero/python/blob/main/%EA%B9%80%EB%AF%BC%EC%9E%AC_205_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pilgi= int(input("필기 성적을 입력하세요:"))
silgi = int(input("실기 성적을 입력하세요:"))
if pilgi > 80 :
  print("합격입니다.")
else:
  print("불합격 입니다.")
if silgi > 80:
  print("합격입니다.")
else:
  print("불합격입니다.")

In [ ]:
age = int(input("몇 살이세요?:"))
if 0<= age < 7 or age >=65:
  print("무료입니다.")
else:
    print("3000원 입니다.")

몇 살이세요?:3
무료입니다.

In [ ]:
age = int(input("몇 살이세요?:"))
height = int(input("키를 입력하세요:"))
if age >= 10 or height >=150:
  print("놀이기구를 탈 수 있다.")
else:
  print("놀이기구를 탈 수 없다.")

몇 살이세요?:15
키를 입력하세요:160
놀이기구를 탈 수 있다.

In [ ]:
id = input("아이디를 입력하세요:")
level = int(input("레벨을 입력하세요:"))
if id == 'admin' or level == 1:
  print("관리자 입니다.")
else:
  print("관리자가 아닙니다.")

아이디를 입력하세요:happy
레벨을 입력하세요:2
관리자가 아닙니다.

In [ ]:
m = int(input("몇월?"))
if   3 <= m <= 5:
   print('봄')
elif 6 <= m <= 8:
   print('여름')
elif 9 <= m <= 11:
   print('가을')
else:
   print("겨울")

몇월?4
봄

In [ ]:
grade = int(input("점수:"))
if   90 >= grade:
  print("A등급")
elif 80 >= grade:
  print("B등급")
elif 70 >= grade:
  print("C등급")
else:
  print("F등급")

점수:90
A등급

In [ ]:
first = int(input("첫번째 수:"))
second = int(input("두번째 수:"))
third = int(input("세번째 수:"))
if first > second and first > third:
  print('가장 큰 수는 fisrt 입니다')
elif second > first and second > third:
  print('가장 큰 수는 second 입니다')
else: 
  print("가장 큰 수는 third입니다")

첫번째 수:46
두번째 수:23
세번째 수:32
가장 큰 수는 fisrt 입니다

In [41]:
price = int(input("구매가"))
if 10000 <= price < 50000:
  discount = 5.0
elif 50000 <= price < 300000:
  discount = 7.5
elif 300000 <= price:
  discount = 10.0
else:
  discount = 0.0
print('구매가:' , price , '원')
print('할인율:' , discount , '%')
print('할인금액:' , price * discount/100, '원')
print('지불금액:' , price -(price * discount/100) , '원')

구매가60000
구매가: 60000 원
할인율: 7.5 %
할인금액: 4500.0 원
지불금액: 55500.0 원

In [ ]:
a = int(input("온도를 입력하세요:"))
if a < 0 :
  print('고체입니다')
elif 0 <= a < 100:
  print('액체입니다')
else:
  print('수증기...?')

온도를 입력하세요:80
액체입니다

In [ ]:
a = int(input('영어시험 점수를 입력하세요:'))
b = int(input('수학시험 점수를 입력하세요:'))
if a >= 80 and b >= 80:
  print("합격입니다.")
elif a >= 80 or b >= 80:
  print('재시험 기회 제공')
else:
  print("불합격입니다.")

영어시험 점수를 입력하세요:85
수학시험 점수를 입력하세요:75
재시험 기회 제공

In [42]:
print("1:매우만족   2:만족     3:불만족")
sat = int(input("서비스가 어떠셨나요(예: 1 또는 2 또는 3):"))
price = int(input("음식값을 입력해주세요:(예:8000)"))
if sat == 1:
  print('팁', price * 0.2, '원')
elif sat ==2:
  print('팁', price * 0.1, '원')
elif sat ==3:
  print('팁', price * 0.05, '원')
else:
  print('잘못된 입력입니다')

1:매우만족   2:만족     3:불만족
서비스가 어떠셨나요(예: 1 또는 2 또는 3):1
음식값을 입력해주세요:(예:8000)8000
팁 1600.0 원

In [43]:
print("원하는 메뉴를 선택하세요:")
print("1. 떡볶이3000")
print("2. 김밥2500")
print("3. 튀김3500")
a = int(input("번호선택:"))
if a==1:
  print("당신은 떡볶이를 선택하셨군요!")
  n=int(input("떡볶이 몇인분을 주문하시겠습니까?"))
  print("총 가격은", 3000*n)
elif a==2:
  print("당신은 김밥을 선택하셨군요!")
  n=int(input("김밥 몇인분을 주문하시겠습니까?"))
  print("총 가격은", 2500*n)
elif a==3:
  print("당신은 튀김을 선택하셨군요!")
  n=int(input("튀김 몇인분을 주문하시겠습니까?"))
  print("총 가격은", 3500*n)
else:
  print("1,2,3 중 하나를 선택해주세요")

원하는 메뉴를 선택하세요:
1. 떡볶이3000
2. 김밥2500
3. 튀김3500
번호선택:1
당신은 떡볶이를 선택하셨군요!
떡볶이 몇인분을 주문하시겠습니까?2
총 가격은, 3000*n

In [46]:
a = int(input("체중을 입력하세요:"))
b = float(input("키를 입력하세요:"))
z = a/(b**2)
if z<=15:
  print("당신의 bmi 지수는" , format(z, ".8f"), "이며 정상입니다.")
elif 15<z<=25:
  print("당신의 bmi 지수는" , format(z, ".8f"), "이며 과체중입니다.")
else:
  print("당신의 bmi 지수는" , format(z, ".8f"), "이며 비만입니다.")

체중을 입력하세요:88
키를 입력하세요:1.8
당신의 bmi 지수는 27.16049383 이며 비만입니다.

In [47]:
x = 17
if x > 10:
  if x % 2 ==0:
    print("10초과 짝수")
  else:
    print("10초과 홀수")
else:
  print("10이하")

10초과 홀수

In [53]:
id = input('아이디를 입력하세요:')
level = int(input('회원 레벨을 입력해주세요:'))
if id == 'admin':
  print("모든 콘텐츠 이용가능")
else: 
  if 2 <= level <= 7:
    print("일부 콘텐츠 이용가능") 
  else:
      print("콘텐츠 이용불가")

아이디를 입력하세요:rubato
회원 레벨을 입력해주세요:3
일부 콘텐츠 이용가능

In [58]:
cy = int(input("현재년을 입력해주세요:"))
cm = int(input("현재월을 입력해주세요:"))
cd = int(input("현재일을 입력해주세요:"))
by = int(input("출생년을 입력해주세요:"))
bm = int(input("출생월을 입력해주세요:"))
bd = int(input("출생일을 입력해주세요:"))
if bm < cm:
  age = cy - by
elif bm == cm:
  if bd < cd:
    age = cy - by
  else:
    age = cy - by - 1
else:
  age = cy - by -1
print('---------------------------') 
print('오늘 날짜 :%d년 %d월 %d일' %(cy,cm,cd))
print('오늘 날짜 :%d년 %d월 %d일' %(by,bm,bd))
print('---------------------------') 
print('만 나이:' , age, '세') 
 #print('오늘 날짜 : ' , cy '년' , cm, '월' ,cd, '일')

현재년을 입력해주세요:2020
현재월을 입력해주세요:1
현재일을 입력해주세요:27
출생년을 입력해주세요:1997
출생월을 입력해주세요:5
출생일을 입력해주세요:7
---------------------------
오늘 날짜 :2020년 1월 27일
오늘 날짜 :1997년 5월 7일
---------------------------
만 나이: 22 세

In [63]:
import datetime
from pytz import timezone
now = datetime.datetime.now(timezone('Asia/Seoul'))
if 0 <= now.hour >= 12
  print("")

SyntaxError: ignored