<a href="https://colab.research.google.com/github/Minjaero/python/blob/main/%EA%B9%80%EB%AF%BC%EC%9E%AC_205_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
price = input('가격을 입력하세요:')
num = input('개수를 입력하세요:')
sum = int(price) * int(num)
print('총액은', sum , '원입니다')

가격을 입력하세요:100
개수를 입력하세요:5
총액은 500 원입니다

In [8]:
Garo = input('가로를 입력하세요:')
Sero = input('세로를 입력하세요:')
sum = int(Garo) * int(Sero)
print('사각형의 면적은', sum, '입니다')

가로를 입력하세요:5
세로를 입력하세요:10
사각형의 면적은 50 입니다

In [13]:
name = input('이름?')
birth = int(input('태어난 해는?'))
age = 2023 - birth + 1 
print(name, '님의 나이는', age, '입니다')

이름?민재
태어난 해는?2006
민재 님의 나이는 18 입니다

In [12]:
price = int(input('물건의 개수?'))
num = int(input('물건의 구매 개수?'))
money = int(input('지불한 돈?'))
change = money - price * num
print('거스름 돈은' , change, '원입니다.')

물건의 개수?500
물건의 구매 개수?4
지불한 돈?5000
거스름 돈은 3000 원입니다.

In [14]:
print( type('안녕하세요'))
print( type(273))
print( type(3.141592))

<class 'str'>
<class 'int'>
<class 'float'>

In [15]:
score = 100
print(score)
print(type(score))

100
<class 'int'>

In [17]:
score = 'high'
print(score)
print(type(score))

high
<class 'str'>

In [18]:
num = 123456789
print(num)
print(type(num))

123456789
<class 'int'>

In [19]:
num = -20909
print(num)
print(type(num))

-20909
<class 'int'>

In [20]:
a = 1.5
b = -3.5
print(a,b)
print(type(a) , type(b))

1.5 -3.5
<class 'float'> <class 'float'>

In [21]:
x = 3.3764
y = 6/2
print(x,y)
print(type(a) , type(b))

3.3764 3.0
<class 'float'> <class 'float'>

In [22]:
a = "Korea 서울 1234"
print(a)
print(type(a))

Korea 서울 1234
<class 'str'>

In [23]:
a = 30
print(a)
print(type(a))

b = '30'
print(b)
print(type(b))

30
<class 'int'>
30
<class 'str'>

In [24]:
a = 5
b = a==5
print(b)

True

In [25]:
if a ==5:
  print("a는5")

a는5

In [26]:
print('I say "hello" to you.')

I say "hello" to you.

In [27]:
a = input('첫번째숫자를 입력하세요:')
b = input('두번째숫자를 입력하세요:')
c = int(a) + int(b)
print(c)

첫번째숫자를 입력하세요:2
두번째숫자를 입력하세요:3
5

In [28]:
a = input('첫번째숫자를 입력하세요:')
b = input('두번째숫자를 입력하세요:')
c = a +b
print(c)

첫번째숫자를 입력하세요:2
두번째숫자를 입력하세요:3
23

In [33]:
inch = float(input('인치를 입력하세요:')) 
cm = inch * 2.54
print("센티미터: ", cm,"cm",sep = "" )

인치를 입력하세요:3.5
센티미터: 8.89cm

In [37]:
radius = int(input("반지름은?:"))
print("반지름이" , radius , "인 원의둘레는" , format(2 * radius * 3.14, ".1f"), "이고, 면적은" , radius * radius * 3.14 , "이다")

반지름은?:5
반지름이 5 인 원의둘레는 31.4 이고, 면적은 78.5 이다

In [48]:
key = int(input("현재키는:?:"))
aim = int(input("5개월 후의 목표키는?:"))
print("한달에" , (aim - key) /5 , "씩 성장해보세요!")

현재키는:?:160
5개월 후의 목표키는?:168
한달에 1.6 씩 성장해보세요!

In [49]:
book = int(input("책 값:"))
discount = int(input("할인율(%)"))
delivery = int(input("배송비"))
print("결제하실 금액은" , book / 100 * (100-discount) + delivery , "원 입니다")

책 값:3000
할인율(%)20
배송비3000
결제하실 금액은 5400.0 원 입니다